@import "~src/assets/styles/variables";
@import "~src/assets/styles/mixins";

#skills {
  padding: 130px 0;
  min-height: 100vh;

  //@include box-shadow(0 12px 7px -10px $black inset, 0 -12px 7px -10px $black inset);

  .title {
    margin-bottom: 50px;
    color: $green-100;
  }

  .card {
    cursor: pointer;
    background-color: $grey-700;

    &:not(.active) {
      &:hover {
        background-color: darken($grey-700, 2);
      }

      &:active {
        background-color: darken($grey-700, 4);
      }
    }

    &.active {
      border-bottom: $green-100 2px solid;
    }

    .card-title {
      margin: 10px 20px;
      color: $white;
    }

    .card-body {
      color: $grey-600;

      .card-content {
        margin-bottom: 20px;
      }

      .card-badges .badge {
        margin: 0 7px;
        background-color: $grey-800;
      }
    }
  }

  .skills-description {
    margin-top: 35px;
    border-radius: 2px;

    background-color: $grey-700;

    .frame {
      padding: 20px;
      display: none;

      &.active {
        display: initial;
      }
    }
  }

  .skills-list {
    p {
      font-size: 1.4em;

      &:before {
        content: '-';
        padding-right: 3px;
        font-size: 1.4em;
        color: $green-100;
      }
    }
  }
}
