@import "~src/assets/styles/variables";
@import "~src/assets/styles/mixins";

#skills {
  padding: 50px 0;

  //@include box-shadow(0 12px 7px -10px $black inset, 0 -12px 7px -10px $black inset);

  .card-title {
    margin: 10px 20px;
  }

  .progress {
    margin-bottom: 15px;
  }

  .skills-list {
    p {
      font-size: 1.4em;

      &:before {
        content: '-';
        padding-right: 3px;
        font-size: 1.4em;
        color: $green-100;
      }
    }
  }

  .card {
    margin-bottom: 10px;
  }

  .java-frameworks-toggle {
    .button {
      text-align: right;
      padding-right: 20px;
      color: $green-100;
      cursor: pointer;

      &:hover  {
        color: darken($green-100, 25)
      }

      &:after {
        padding-left: 7px;
        content: "˅";
      }

      &.open:after {
        content: "˄";
      }
    }
    .line {
      height: 2px;
      background-color: $grey-700;
    }
  }

  #java-frameworks-section {
    margin-top: 30px;
    overflow: hidden;
    max-height: 0;
    @include transition(max-height 0.5s ease-out);

    &.open {
      max-height: 150px;
    }
  }
}
