<div id="experience-section">
  <div class="title">Work Experience</div>

  <div class="container">
    <div class="card bg-dark">
      <div class="card-body">
        <h5 class="card-title">
          An Email marketing software solution. Provides
          functionality for high-volume, complex for email marketing campaigns
          automation.
        </h5>
        <div class="card-text">
          <p>ITernal</p>
          <p>Java/JS full-stack developer, new team members mentor </p>

          <span class="badge bg-secondary">Java</span>
          <span class="badge bg-secondary">Apache Struts</span>
          <span class="badge bg-secondary">Tiles</span>
          <span class="badge bg-secondary">Spring-MVC</span>
          <span class="badge bg-secondary">Spring-Security</span>
          <span class="badge bg-secondary">JSP</span>
          <span class="badge bg-secondary">JSTL/EL</span>
          <span class="badge bg-secondary">REST API</span>
          <span class="badge bg-secondary">HTML</span>
          <span class="badge bg-secondary">CSS</span>
          <span class="badge bg-secondary">JQuery</span>
          <span class="badge bg-secondary">SQL</span>
          <span class="badge bg-secondary">Oracle</span>
        </div>
      </div>
    </div>
    <div class="card bg-dark">
      <div class="card-body">
        <h5 class="card-title">Web-site to provide billing information</h5>
        <div class="card-text">
          <p>Sytoss</p>
          <p> Java/JS full-stack developer, Junior Team Lead, Students mentor
            and lecturer
          </p>

          <span class="badge bg-secondary">Java</span>
          <span class="badge bg-secondary">Apache Struts</span>
          <span class="badge bg-secondary">Tiles</span>
          <span class="badge bg-secondary">Spring-MVC</span>
          <span class="badge bg-secondary">Spring-Security</span>
          <span class="badge bg-secondary">JSP</span>
          <span class="badge bg-secondary">JSTL/EL</span>
          <span class="badge bg-secondary">REST API</span>
          <span class="badge bg-secondary">HTML</span>
          <span class="badge bg-secondary">CSS</span>
          <span class="badge bg-secondary">JQuery</span>
          <span class="badge bg-secondary">SQL</span>
          <span class="badge bg-secondary">Oracle</span>
        </div>
      </div>
    </div>
  </div>
</div>
