<div id="experience">
  <div class="h4 text-center mb-4 title">Work Experience</div>

  <div class="container">
    <div class="item">
      <h5>WEB IDE for Python</h5>
      <p>2021.09 - now</p>
      <div>
        <p>Company: EPAM</p>
        <p>Position: Senior Java/Kotlin developer</p>
        <p>Was involved into architecture discussions
          <br>Improved Python execution code performance
        </p>

        <span class="badge bg-secondary">Java</span>
        <span class="badge bg-secondary">Apache Struts</span>
        <span class="badge bg-secondary">Tiles</span>
        <span class="badge bg-secondary">Spring-MVC</span>
        <span class="badge bg-secondary">Spring-Security</span>
        <span class="badge bg-secondary">JSP</span>
        <span class="badge bg-secondary">JSTL/EL</span>
        <span class="badge bg-secondary">REST API</span>
        <span class="badge bg-secondary">HTML</span>
        <span class="badge bg-secondary">CSS</span>
        <span class="badge bg-secondary">JQuery</span>
        <span class="badge bg-secondary">SQL</span>
        <span class="badge bg-secondary">Oracle</span>
      </div>
    </div>
    <div class="item">
      <h5>An Email marketing software solution.</h5>
      <p>2019.05 - 2021.10</p>
      <div>
        <p>Provides functionality for high-volume, complex for email marketing campaigns automation.</p>
        <p>Company: ITernal</p>
        <p>Position: Java/JS full-stack developer</p>
        <p>Mentored new team members <br> integrated new library<br> integrated new library<br> integrated new
          library<br> integrated new library<br> integrated new library</p>

        <span class="badge bg-secondary">Java</span>
        <span class="badge bg-secondary">Apache Struts</span>
        <span class="badge bg-secondary">Tiles</span>
        <span class="badge bg-secondary">Spring-MVC</span>
        <span class="badge bg-secondary">Spring-Security</span>
        <span class="badge bg-secondary">JSP</span>
        <span class="badge bg-secondary">JSTL/EL</span>
        <span class="badge bg-secondary">REST API</span>
        <span class="badge bg-secondary">HTML</span>
        <span class="badge bg-secondary">CSS</span>
        <span class="badge bg-secondary">JQuery</span>
        <span class="badge bg-secondary">SQL</span>
        <span class="badge bg-secondary">Oracle</span>
      </div>
    </div>
    <div class="item">
      <h5>Web-site to provide billing information</h5>
      <p>2016.09 - 2019.03</p>
      <div>
        <p>Company: Sytoss</p>
        <p>Position: Java/JS full-stack developer</p>
        <p>Mentored new team members <br> integrated new library<br> integrated new library<br> integrated new
          library<br>
          integrated new library<br> integrated new library</p>


        <span class="badge bg-secondary">Java</span>
        <span class="badge bg-secondary">Apache Struts</span>
        <span class="badge bg-secondary">Tiles</span>
        <span class="badge bg-secondary">Spring-MVC</span>
        <span class="badge bg-secondary">Spring-Security</span>
        <span class="badge bg-secondary">JSP</span>
        <span class="badge bg-secondary">JSTL/EL</span>
        <span class="badge bg-secondary">REST API</span>
        <span class="badge bg-secondary">HTML</span>
        <span class="badge bg-secondary">CSS</span>
        <span class="badge bg-secondary">JQuery</span>
        <span class="badge bg-secondary">SQL</span>
        <span class="badge bg-secondary">Oracle</span>
      </div>
    </div>
  </div>
</div>
