<header>
  <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{ scrolled: scrolled }">
    <div class="container">
      <a class="navbar-brand" rel="tooltip">Ivan Achkasov</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#experience">Experience</a>
        </li>

        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#skill">Skills</a>
        </li>

        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#education">Education</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

