<div id="education" class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="education-row">
      <div class="row">
        <div class="col-md-3">
          <div class="cc-education-header">
            <div class="h5">Master Degree</div>
            <p>2018-2019</p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="h4">Master of Computer Science</div>
          <h4 class="category">Kharkiv National University of Radio Electronics</h4>
        </div>
      </div>
    </div>
    <div class="education-row">
      <div class="row">
        <div class="col-md-3">
          <div class="cc-education-header">
            <div class="h5">Bachelor Degree</div>
            <p>2014-2018</p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="h4">Bachelor of Computer Science</div>
          <h4 class="category">Kharkiv National University of Radio Electronics</h4>
        </div>
      </div>
    </div>
  </div>
</div>
