@import "~src/assets/styles/variables";

#intro {
  background-color: $grey-800;
  min-height: 100vh;
  color: $white;
}

.intro-content {
  padding: 200px;
}

.intro-info {
  width: 60%;

  p {
    padding: 10px 0;
  }

  .position {
    color: $black;
    background-color: $green-100;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 1.2em;
  }
}

.profile-img {
  position: absolute;
  width: 40%;
  bottom: 0;
  right: 0;

  img {
    width: 600px;
    float: right;
    opacity: 0.5;
  }
}

