<div id="intro">
  <div class="intro-bg temporary-hide">
    <div class="into-bg-img"></div>
    <p class="bg-word java">JAVA</p>
    <p class="bg-word kotlin">KOTLIN</p>
    <p class="bg-word spring">SPRING</p>
    <p class="bg-word sql">SQL</p>
    <p class="bg-word git">GIT</p>
    <p class="bg-dot dot-1"></p>
    <p class="bg-dot dot-2"></p>
  </div>


  <div class="intro-content container-fluid">
    <div class="row">
      <div class="intro-info col-xxl-7 offset-xxl-1">
        <p class="name">Hello, I'm Ivan Achkasov</p>
        <p class="position">Back-end <b>Java/Kotlin</b> developer <br>  with middle Front-end knowledge</p>
        <p class="description">
          Interested in learning new technologies, work with a qualified team,
          and well-organized project.
          I like to be involved in all the processes of the project(discussing
          requirements, investigating possible solutions, checking sprints,
          configuring deploy, checking test coverage, monitor the progress of
          tasks).
          Good in responsibility and accepting criticism.
        </p>
        <div>
          <a class="btn btn-outline-light" href="#" target="_blank">Download CV</a>
        </div>
      </div>
      <div class="profile-img">
        <img src="assets/images/profile.png" alt="profile logo">
      </div>
    </div>
  </div>
</div>
