<div id="intro">
  <div class="intro-bg">
    <div class="into-bg-img"></div>
    <p class="bg-word java">JAVA</p>
    <p class="bg-word kotlin">KOTLIN</p>
    <p class="bg-word spring">SPRING</p>
    <p class="bg-word sql">SQL</p>
    <p class="bg-word git">GIT</p>
    <p class="bg-dot dot-1"></p>
    <p class="bg-dot dot-2"></p>
  </div>
  <div class="intro-content">
    <div class="intro-info">
      <p>Hello, I'm Ivan Achkasov</p>
      <span class="position">Back-end <b>Java/Kotlin</b> developer with middle Front-end knowledge</span>
      <p>Interested in learning new technologies, work with a qualified team,
        and well-organized project.
        I like to be involved in all the processes of the project(discussing
        requirements, investigating possible solutions, checking sprints,
        configuring deploy, checking test coverage, monitor the progress of
        tasks).
        Good in responsibility and accepting criticism.
      </p>
      <div>
        <a class="btn btn-primary" href="#" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download
          CV</a>
      </div>
    </div>
    <div class="profile-img">
      <img src="assets/images/profile.png" alt="profile logo">
    </div>
    <div class="container">
      <div class="button-container">
        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/achkasov-ivan"
           target="_blank" rel="tooltip" title="Follow me on Linkedin">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/achkasov_ivan/"
           target="_blank" rel="tooltip" title="Follow me on Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>
