@import "~src/assets/styles/variables";

#intro {
  background-color: $grey-800;
  min-height: 100vh;
  color: $white;
}

.profile-image {
  top: 200px;
  left: 600px;
  img {
    width: 250px;
    height: 250px;
  }
}

.intro-info {
  position: absolute;
  width: 40%;
  left: 20%;
  top: 20%;

  p {
    padding: 10px 0;
  }

  .position {
    color: $black;
    background-color: $green-100;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 1.2em;
  }
}

