@import "~src/assets/styles/variables";

#intro {
  background-color: $grey-800;
  min-height: 100vh;
  color: $white;
}

.intro-content {
  .intro-info {

    position: absolute;
    top: 30%;

    .name {
      font-style: italic;
      font-weight: 200;
      font-size: 36px;
      line-height: 42px;
    }

    .position {
      margin-top: 60px;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 56px;
      text-transform: capitalize;
    }

    .description {
      margin: 65px 0;
      font-style: italic;
      font-weight: 200;
      font-size: 21px;
      line-height: 25px;
    }
  }
}

.profile-img {
  position: absolute;
  width: 40%;
  bottom: 0;
  right: 0;

  img {
    width: 600px;
    float: right;
    opacity: 0.5;
  }
}

