@mixin box-shadow($properties...) {
  $result: ();

  @each $value in $properties {
    @if $value != null {
      $result: append($result, $value, "comma");
    }
  }

  @if (length($result) > 0) {
    -webkit-box-shadow: $result;
    -moz-box-shadow: $result;
    box-shadow: $result;
  }
}

@mixin transition($properties) {
  -webkit-transition: $properties;
  -moz-transition: $properties;
  -o-transition: $properties;
  transition: $properties;
}
